body{
    margin: 0;
    padding: 0;
}
.main-menu{ 
    background: rgb(167, 152, 251);
}
.main-menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.main-menu ul:after{
    content: '';
    display:block;
    clear: both;
}
.main-menu ul li{
    float: left;
    position: relative;
    top: 100%; 
}
.main-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-family: Tahoma;

}
.main-menu ul li:hover{
    background:green;
}
.main-menu ul ul li{
    float: none;

}
.main-menu ul ul{
    position: absolute;
    left: 0%;
    width: 300px;
    background: red;
    display: none;
}
.main-menu ul li:hover ul{
    display: block;

}
